main {
    width: 60%;
    height: 100vh;
    margin: auto;
    opacity: 0;
    background: lightblue;
    transition: opacity 0.8s ease-in-out;
}

.fill {
    height: 100vh;
    background: blue;
    width: 100%;
}

.trigger {
    height: 1px;
    background: transparent;
}

.a-popup {
    animation: popup 0.8s ease-out forwards;
}

@keyframes popup {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}